.footer {
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: space-around; 
  
   h2 {
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

  
   picture img {
    margin: 10px; 
}
    
.footer2 {
height: 150vh; }

}